<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{'/sede/inicio'}">Sedes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Veterinarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Mascotas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>Lista de Sedes</h2>
    <br>
    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>Nombre de la sede</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th></th>
            <th></th>

        </tr>
        <tr th:each="sede, info: ${listaSedes}">
            <td th:text="${info.index +1}"></td>
            <td th:text="${sede.nombre}"></td>
            <td th:text="${sede.direccion}"></td>
            <td th:text="${sede.telefono}"></td>
            <td><a class="btn btn-primary" th:href="@{'/veterinario/inicio'+'?id='+${sede.id}}">Mostrar veterinarios</a></td>
            <td><a class="btn btn-danger" th:href="@{'/mascota/inicio'+'?id='+${sede.id}}">Mostrar mascotas</a></td>

        </tr>

    </table>


</body>
</html>